
.oneProjectPage {
  margin-inline: center;
  display: flex;
  flex-direction: column;

  .membersSection, .skillsSection {
    display: flex;
    flex-direction: column;
    gap: var(--size3);

    .membersGallery  {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--size3);
      row-gap: var(--size2);
    }
  }

  .tagsContainer {
    row-gap: var(--size1);
  }
}

.offersSection {
  display: flex;
  flex-direction: column;
  gap: var(--size3);

  button {
    margin-inline: auto;
  }
}

.offerGallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size2);
  justify-content: center;
}

.leaveProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size1);

  p {
    text-align: center;
    color: var(--magenta);
    font-weight: bold;
  }

  .leaveIcon {
    height: var(--size4);
    width: max-content;
    margin-inline: auto;
    cursor: pointer;

    &:hover {
      filter: brightness(0);
    }
  }
}
