
.forgotpasswordPage {

  .containerPpal  {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
  }

  .logo {
    width: 100%;
    padding-inline: 20%;

    @media(max-width: 900px) {
      padding-inline: 0;
    }
  }
}