
.accountVerifiedSect{
  height: 60vh;
  align-content: center;

  .accountVerified {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size3);
  
    h2 {

      @media (max-width: 400px) {
        font-size: var(--textM2);
      }
    }

    .textInfo {
      display: flex;
      flex-direction: column;
      gap: var(--size05);
      align-items: center;
    }
  
    .logo {
      width: 60%;
      /* margin-bottom: var(--size4); */
  
      @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 0;
      }
    }

    .errorText {
      gap: var(--size1);
      p {
        font-size: var(--textL2);
        font-weight: bold;
        color: var(--purple);
      }
    }
  }

}

