.allProjectsPage {
  display: flex;
  flex-direction: column;
  gap: var(--size4);

  h2 {
    text-align: center;
  }
}

.searchingTagContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size1);
  align-items: center;

  .tagsContainerCenter {
    display: flex;
    gap: var(--size05);
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  input {
    padding-block: var(--size05);
    border-radius: 20px;
    border: 2px solid var(--purple);
    text-align: center;
    width: 13rem;

    &::placeholder {
      color: var(--purple50);
      text-align: center;
    }
  }
}

.searchResults {
  font-weight: bold;
  color: var(--magenta);
}

.allProjectsGallery {
  display: flex;
  flex-direction: column;
  gap: var(--size3);
}

